:root {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 400;

    color-scheme: light;
    color: rgba(0, 0, 0, 0.87);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

footer {
    background: var(--color-primary-dark);
}

header {
    background: var(--color-primary-dark);
}

.large-title {
    color: var(--large-title-color);
    font-weight: var(--large-title-weight);
    font-size: var(--large-title-size);
    line-height: var(--line-height-base);
}

.h2-title {
    font-weight: var(--text-h2-weight);
    font-size: var(--text-h2-size);
    line-height: var(--text-h2-line-height);
}

.small-title {
    color: var(--small-title-color);
    font-weight: var(--small-title-weight);
    font-size: var(--small-title-size);
    line-height: var(--line-height-base);
}

.link-text {
    color: var(--link-color);
    font-size: var(--small-title-size);
    line-height: var(--line-height-base);
}

.murecho-font {
    font-family: var(--ff-murecho);
}

.title-lg {
    font-size: 24px;
    font-weight: 600;
    line-height: 22px;
}

.title-lg-20 {
    font-size: 20px;
    font-weight: 600;
    line-height: 22px;
}

.text-medium-20 {
    font-size: 20px;
    font-weight: 500;
    line-height: 22px;
}

.subtitle-lg {
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
}

.text-light-16 {
    font-weight: 200;
    font-size: 16px;
    line-height: 22px;
}

.btn-primary {
    border: none;
    background: transparent
}
.btn-primary:hover {
    border: none;
    background: transparent
}

.filters-block-text {
    font-weight: 500;
    font-size: 18px;
    line-height: var(--line-height-base);
    color: var(--color-gray-dark-graphite);
}